on boot
    # Fingerprint
    chown system system /sys/devices/platform/soc/soc:goodix_fp/proximity_state

    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service vendor.secure_element_hal_service /system/bin/true
    disabled

service citsensor-hal-1-1  /vendor/bin/hw/vendor.xiaomi.hardware.citsensorservice@1.1-service
    override
    class late_start
    user system
    group system input wakelock

on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.tcpdump=running
    stop tcpdump

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag
